
<div class="container-fluid mb-5" style="width:90%">
    <div class="form-row justify-content-center py-4 mx-auto">
        <h2>Actualizar datos del vehículo</h2>
    </div>
    {{#if msjError}}
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{msjError.msj}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
    {{#if msjOk}}
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{msjOk.msj}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    {{!-- Formulario principal --}}
    <form action="/actualizar-datos-vehiculo" method="POST" autocomplete="off">
        
        {{!-- Chasis y Descripción --}}
        <div class="form-row">

            <div class="form-group col-sm-12 col-md-12 col-lg-6">                
                <label class="form-label">Chasis:</label>
                <input class="form-control form-control" value="{{ vehiculo.chasis }}" disabled>
            </div>

            <div class="form-group col-sm-12 col-md-12 col-lg-6">
                <label class="form-label">Descripción: </label>
                <input class="form-control form-control" value="{{ vehiculo.descripcion }}" disabled>
            </div>

        </div>

        {{!-- Cliente y Fecha Venta --}}
        <div class="form-row">

            <div class="form-group col-sm-12 col-md-12 col-lg-6">
                <label class="form-label">Cliente:</label>
                <input class="form-control form-control" value="{{ vehiculo.cliente }}" disabled>
            </div>

            <div class="form-group col-sm-12 col-md-12 col-lg-6">
                <label class="form-label">Fecha venta: </label>
                <input class="form-control  form-control" value="{{ vehiculo.fecha_vta }}" disabled>
            </div>

        </div>

        {{!-- Moneda y Saldo --}}
        <div class="form-row">

            <div class="form-group col-sm-12 col-md-12 col-lg-6">
                <label class="form-label">Moneda:</label>
                <input class="form-control form-control" value="{{ vehiculo.moneda }}" disabled>
            </div>

            <div class="form-group col-sm-12 col-md-12 col-lg-6">
                <label class="form-label">Saldo: </label>
                <input class="form-control  form-control" value="{{ vehiculo.saldo }}" disabled>
            </div>

        </div>  

        {{!-- Fecha importación y Chapa --}}
        <div class="form-row">

            <div class="form-group col-sm-12 col-md-12 col-lg-6">
                <label class="form-label">Fecha importación:</label>
                <input class="form-control form-control" value="{{ vehiculo.fecha_imp }}" disabled>
            </div> 

            <div class="form-group col-sm-12 col-md-12 col-lg-6">
                <label class="form-label">Chapa: </label>
                <input class="form-control  form-control" value="{{ vehiculo.chapa }}" name="chapa" placeholder="Escriba el nro. de chapa" autocomplete="off">
            </div>                         

        </div>   

        {{!-- Forma de Pago y Modelo --}}
        <div class="form-row">

            {{!-- Forma de pago --}}
            <div class="form-group col-sm-12 col-md-12 col-lg-6">
                <label class="form-label">Forma de pago:</label>
                <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#formulario-forma-pago" data-bs-toggle="tooltip" data-bs-placement="top" title="Registrar nueva forma de pago"><i class="fas fa-plus fa-1x" aria-hidden="true"></i></a>
                <input value="{{ vehiculo.forma }}" id="inputListFormaPago" class="form-control" list="listaFormasPago" placeholder="Escriba la forma de pago" name="formaPago" autocomplete="off">
                <datalist id="listaFormasPago">
                    {{#each formasPago}}
                        <option>{{ forma }}</option>
                    {{/each}}
                </datalist>
            </div>

            {{!-- Modal forma de pago --}}
            <div class="modal fade" id="formulario-forma-pago"  aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <form action="/agregar-forma-pago" method="POST">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Registrar forma de pago</h5>
                            </div>
                            <div class="modal-body">

                                <div class="row justify-content-center">
                                    <div class="form-group col-4">
                                        <label class="form-label" for="">Forma de pago:</label>
                                    </div>
                                    <div class="form-group col-8">
                                        <input class="form-control" type="text" name="formaPago" required id="inputFormaPago">
                                    </div>
                                </div>
                                
                                <input class="form-control" type="text" name="id" value="{{ vehiculo.id }}" style="display: none;">

                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="submit" class="btn btn-success mx-1">Confirmar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>   

            {{!-- Modelo --}}
            <div class="form-group col-sm-12 col-md-12 col-lg-6">
                <label class="form-label">Modelo:</label>
                <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#formulario-modelo" data-bs-toggle="tooltip" data-bs-placement="top" title="Registrar nuevo modelo de vehiculo"><i class="fas fa-plus fa-1x" aria-hidden="true"></i></a>
                <input value="{{ vehiculo.modelo }}" id="inputListModelo" class="form-control" list="listaModelos" placeholder="Escriba el modelo" name="modelo" autocomplete="off">
                <datalist id="listaModelos">
                    {{#each modelos}}
                        <option>{{ modelo }}</option>
                    {{/each}}
                </datalist>
            </div>

            {{!-- Modal registo modelo de vehiculo --}}
            <div class="modal fade" id="formulario-modelo"  aria-labelledby="exampleModalLabel2" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form action="/agregar-modelo" method="POST">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel2">Registrar modelo de vehículo</h5>
                            </div>
                            <div class="modal-body">

                                <div class="row justify-content-center">
                                    <div class="form-group col-4 justify-content-center">
                                        <label class="form-label" for="">Modelo:</label>
                                    </div>
                                    <div class="form-group col-8">
                                        <input class="form-control" type="text" name="modelo" id="inputModelo" required>
                                    </div>
                                </div>
                                
                                <input class="form-control" type="text" name="id" value="{{ vehiculo.id }}" style="display: none;">

                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="submit" class="btn btn-success mx-1">Confirmar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>   

        </div>       

        {{!-- Ubicacion y Taller autorizado --}}
        <div class="form-row">

            {{!-- Ubicacion --}}
            <div class="form-group col-sm-12 col-md-12 col-lg-6">
                <label class="form-label">Ubicación:</label>
                <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#formulario-ubicacion" data-bs-toggle="tooltip" data-bs-placement="top" title="Registrar nueva ubicación"><i class="fas fa-plus fa-1x" aria-hidden="true"></i></a>                
                <input value="{{ vehiculo.ubi }}" id="inputListUbicacion" class="form-control" list="listaUbicaciones" placeholder="Escriba la ubicación" name="ubicacion" autocomplete="off">
                <datalist id="listaUbicaciones">
                    {{#each ubicaciones}}
                        <option>{{ ubi }}</option>
                    {{/each}}
                </datalist>
            </div>
            {{!-- Modal ubicacion --}}
            <div class="modal fade" id="formulario-ubicacion"  aria-labelledby="exampleModalLabel2" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form action="/agregar-ubicacion" method="POST">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel2">Registrar ubicación</h5>
                            </div>
                            <div class="modal-body">

                                <div class="row justify-content-md-center">
                                    <div class="form-group col-4">
                                        <label class="form-label" for="">Ubicación:</label>
                                    </div>
                                    <div class="form-group col-6">
                                        <input class="form-control" type="text" name="ubicacion" required id="inputUbicacion">
                                    </div>
                                </div>
                                
                                <input class="form-control" type="text" name="id" value="{{ vehiculo.id }}" style="display: none;">

                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="submit" class="btn btn-success mx-1">Confirmar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {{!-- Taller autorizado --}}
            <div class="form-group col-sm-12 col-md-12 col-lg-6">
                <label class="form-label">Taller autorizado:</label>
                <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#formulario-taller" data-bs-toggle="tooltip" data-bs-placement="top" title="Registrar nuevo taller"><i class="fas fa-plus fa-1x" aria-hidden="true"></i></a>                  
                <input value="{{ vehiculo.taller }}" id="inputListTaller" class="form-control" list="listaTalleres" placeholder="Escriba el taller" name="taller" autocomplete="off">
                <datalist id="listaTalleres">
                    {{#each talleres}}
                        <option>{{ taller }}</option>
                    {{/each}}
                </datalist>
            </div>
            {{!-- Modal taller autorizado --}}
            <div class="modal fade" id="formulario-taller"  aria-labelledby="exampleModalLabel2" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form action="/agregar-taller" method="POST">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel2">Registrar taller autorizado</h5>
                            </div>
                            <div class="modal-body">

                                <div class="row justify-content-md-center">
                                    <div class="form-group col-4">
                                        <label class="form-label" for="">Taller autorizado: </label>
                                    </div>
                                    <div class="form-group col-6">
                                        <input id="inputTaller" class="form-control" type="text" name="taller" required>
                                    </div>
                                </div>
                                
                                <input class="form-control" type="text" name="id" value="{{ vehiculo.id }}" style="display: none;">

                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="submit" class="btn btn-success mx-1">Confirmar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div> 

        </div>
        {{!-- Id vehiculo oculto --}}
        <input class="form-control form-control-lg" type="text" name="id" value="{{ vehiculo.id }}" style="display: none;">
        {{!-- Botones --}}
        <div class="form-row justify-content-center my-3">
            <div class="col-xl-3 col-lg-3 col-md-4 col-xs-11 col-sm-11">
                <button type="submit" class="btn btn-block btn-success btn-lg mx-1 my-1">Guardar</button>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-xs-11 col-sm-11">
                <a href="/vehiculos" class="btn btn-block btn-danger btn-lg mx-1 my-1">Cancelar</a>
            </div>
        </div>

    </form>
</div>