
<div class="container-fluid mt-4" style="width:90%">
    <div class="form-row justify-content-md-center my-5 mx-auto">
        <h1>Actualizar datos del vehículo</h1>
    </div>
    {{#if msjError}}
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{msjError.msj}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
    {{#if msjOk}}
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{msjOk.msj}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
    
    {{!-- Formulario Modelo Vehiculo --}}
    <div class="row mb-4" id="formulario-modelo" style="display: none;">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
            <div class="card text-center my-3 mx-auto" id="registrar-cliente">
                <h5 class="card-header">Registrar modelo de vehículo</h5>
                <div class="card-body">
                    <form action="/agregar-modelo" method="POST">
                        <div class="row justify-content-center">
                            <div class="form-group col-4">
                                <label class="form-label form-control-lg" for="">Modelo:</label>
                            </div>
                            <div class="form-group col-6">
                                <input class="form-control form-control-lg" type="text" name="modelo" id="inputModelo" required>
                            </div>
                        </div>
                        
                        <input class="form-control" type="text" name="id" value="{{ vehiculo.id }}" style="display: none;">

                        <div class="row justify-content-center mt-2">
                            <button type="submit" class="btn btn-primary mx-1">Confirmar</button>
                            <a href="#" onclick="cerrarFormularioModelo()" class="btn btn-danger mx-1">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{!-- Formulario Forma de Pago --}}
    <div class="row mb-4" id="formulario-forma-pago" style="display: none;">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
            <div class="card text-center my-3 mx-auto" id="registrar-cliente">
                <h5 class="card-header">Registrar forma de pago</h3>
                <div class="card-body">
                    <form action="/agregar-forma-pago" method="POST">
                        <div class="row justify-content-center">
                            <div class="form-group col-4">
                                <label class="form-label form-control-lg" for="">Forma de pago:</label>
                            </div>
                            <div class="form-group col-6">
                                <input class="form-control form-control-lg" type="text" name="formaPago" required id="inputFormaPago">
                            </div>
                        </div>
                        
                        <input class="form-control" type="text" name="id" value="{{ vehiculo.id }}" style="display: none;">

                        <div class="row justify-content-center mt-2">
                            <button type="submit" class="btn btn-primary mx-1">Confirmar</button>
                            <a href="#" onclick="cerrarFormularioFormaPago()" class="btn btn-danger mx-1">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{!-- Formulario Ubicación --}}
    <div class="row mb-4" id="formulario-ubicacion" style="display: none;">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
            <div class="card text-center my-3 mx-auto" id="registrar-cliente">
                <h5 class="card-header">Registrar ubicación</h3>
                <div class="card-body">
                    <form action="/agregar-ubicacion" method="POST">
                        <div class="row justify-content-md-center">
                            <div class="form-group col-4">
                                <label class="form-label form-control-lg" for="">Ubicación:</label>
                            </div>
                            <div class="form-group col-6">
                                <input class="form-control form-control-lg" type="text" name="ubicacion" required id="inputUbicacion">
                            </div>
                        </div>
                        
                        <input class="form-control" type="text" name="id" value="{{ vehiculo.id }}" style="display: none;">

                        <div class="row justify-content-center mt-2">
                            <button type="submit" class="btn btn-primary mx-1">Confirmar</button>
                            <a href="#" onclick="cerrarFormularioUbicacion()" class="btn btn-danger mx-1">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{!-- Formulario Taller Autorizado --}}
    <div class="row mb-4" id="formulario-taller" style="display: none;"> 
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
            <div class="card text-center my-3 mx-auto" id="registrar-cliente">
                <h5 class="card-header">Registrar taller autorizado</h3>
                <div class="card-body">
                    <form action="/agregar-taller" method="POST">
                        <div class="row justify-content-md-center">
                            <div class="form-group col-4">
                                <label class="form-label form-control-lg" for="">Taller autorizado: </label>
                            </div>
                            <div class="form-group col-6">
                                <input id="inputTaller" class="form-control form-control-lg" type="text" name="taller" required>
                            </div>
                        </div>
                        
                        <input class="form-control" type="text" name="id" value="{{ vehiculo.id }}" style="display: none;">

                        <div class="row justify-content-center mt-2">
                            <button type="submit" class="btn btn-primary mx-1">Confirmar</button>
                            <a href="#" onclick="cerrarFormularioTaller()" class="btn btn-danger mx-1">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{!-- Formulario principal --}}
    <form action="/actualizar-datos-vehiculo" method="POST" autocomplete="off">
        
        {{!-- Chasis y Descripción --}}
        <div class="form-row">

            <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
                <label class="form-label col-form-label-lg">Chasis:</label>
            </div>

            <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
                <input class="form-control form-control-lg" value="{{ vehiculo.chasis }}" disabled>
            </div>

            <div class="form-group col-md-1">
                
            </div>

            <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
                <label class="form-label col-form-label-lg">Descripción:</label>
            </div>

            <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
                <input class="form-control form-control-lg" value="{{ vehiculo.descripcion }}" disabled >
            </div>

            <div class="form-group col-md-1">
            </div>

   

        </div>
        {{!-- Cliente y Fecha venta --}}
        <div class="form-row">

            <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
                <label class="form-label col-form-label-lg">Cliente:</label>
            </div>

            <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
                <input class="form-control form-control-lg" value="{{ vehiculo.cliente }}" disabled>
            </div>

            <div class="form-group col-md-1">
            </div>

            <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
                <label for="exampleDataList" class="form-label col-form-label-lg">Fecha venta: </label>
            </div>

            <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
                <input class="form-control form-control-lg" value="{{ vehiculo.fecha_vta }}" disabled>
            </div>   

            <div class="form-group col-md-1">
            </div>     

        </div>
        {{!-- Moneda y Saldo --}}
        <div class="form-row">

            <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
                <label class="form-label col-form-label-lg">Moneda:</label>
            </div>

            <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
                <input class="form-control form-control-lg" value="{{ vehiculo.moneda }}" disabled>
            </div>

            <div class="form-group col-md-1">
            </div>

            <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
                <label class="form-label col-form-label-lg">Saldo:</label>
            </div>

            <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
                <input class="form-control form-control-lg" value="{{ vehiculo.saldo }}" disabled>
            </div>

            <div class="form-group col-md-1">
            </div>

        </div>        
        {{!-- Fecha importación y Chapa --}}
        <div class="form-row">

            <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
                <label for="exampleDataList" class="form-label col-form-label-lg">Fecha importación:</label>
            </div>

            <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
                <input class="form-control form-control-lg" value="{{ vehiculo.fecha_imp }}" disabled>
            </div>   

            <div class="form-group col-md-1">
            </div> 

            <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
                <label for="exampleDataList" class="form-label col-form-label-lg" >Chapa:</label>
            </div>

            <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
                <input class="form-control form-control-lg" value="{{ vehiculo.chapa }}" name="chapa" placeholder="Escriba el nro. de chapa" autocomplete="off">
            </div>   

            <div class="form-group col-md-1">
            </div>  

 

        </div>   
        {{!-- Forma de Pago y Modelo --}}
        <div class="form-row">

            <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
                <label for="exampleDataList" class="form-label col-form-label-lg">Forma de pago: </label>
            </div>

            <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
                <input value="{{ vehiculo.forma }}" id="inputListFormaPago" class="form-control form-control-lg" list="listaFormasPago" placeholder="Escriba la forma de pago" name="formaPago" autocomplete="off">
                <datalist id="listaFormasPago">
                    {{#each formasPago}}
                        <option>{{ forma }}</option>
                    {{/each}}
                </datalist>

            </div>   

            <div class="form-group col-md-1">
                <a href="#" onclick="registrarFormaPago()" data-bs-toggle="tooltip" data-bs-placement="top" title="Registrar nueva forma de pago"><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a>
            </div>  

            <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
                <label for="exampleDataList" class="form-label col-form-label-lg">Modelo:</label>
            </div>

            <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
                <input value="{{ vehiculo.modelo }}" id="inputListModelo" class="form-control form-control-lg" list="listaModelos" placeholder="Escriba el modelo" name="modelo" autocomplete="off">
                <datalist id="listaModelos">
                    {{#each modelos}}
                        <option>{{ modelo }}</option>
                    {{/each}}
                </datalist>
            </div>   

            <div class="form-group col-md-1">
                <a href="#" onclick="registrarModelo()" data-bs-toggle="tooltip" data-bs-placement="top" title="Registrar nuevo modelo"><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a>
            </div>    
    

        </div>             
        {{!-- Ubicacion y Taller autorizado --}}
        <div class="form-row">

            <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
                <label class="form-label col-form-label-lg">Ubicación:</label>
            </div>

            <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
                <input value="{{ vehiculo.ubi }}" id="inputListUbicacion" class="form-control form-control-lg" list="listaUbicaciones" placeholder="Escriba la ubicación" name="ubicacion" autocomplete="off">
                <datalist id="listaUbicaciones">
                    {{#each ubicaciones}}
                        <option>{{ ubi }}</option>
                    {{/each}}
                </datalist>
            </div>

            <div class="form-group col-md-1">
                <a href="#" onclick="registrarUbicacion()" data-bs-toggle="tooltip" data-bs-placement="top" title="Registrar nueva ubicación"><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a>
            </div>

            <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
                <label for="exampleDataList" class="form-label col-form-label-lg">Taller autorizado: </label>
            </div>

            <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
                <input value="{{ vehiculo.taller }}" id="inputListTaller" class="form-control form-control-lg" list="listaTalleres" placeholder="Escriba el taller" name="taller" autocomplete="off">
                <datalist id="listaTalleres">
                    {{#each talleres}}
                        <option>{{ taller }}</option>
                    {{/each}}
                </datalist>
            </div>   

            <div class="form-group col-md-1">
                <a href="#" onclick="registrarTaller()" data-bs-toggle="tooltip" data-bs-placement="top" title="Registrar nuevo taller"><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a>
            </div>     

        </div>
        {{!-- Id vehiculo oculto --}}
        <input class="form-control form-control-lg" type="text" name="id" value="{{ vehiculo.id }}" style="display: none;">
        {{!-- Botones --}}
        <div class="form-row justify-content-center my-3">
            <div class="col-xl-2 col-lg-3 col-md-4 col-xs-11 col-sm-11">
                <button type="submit" class="btn btn-block btn-success btn-lg mx-1 my-1">Guardar</button>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-xs-11 col-sm-11">
                <a href="/vehiculos" class="btn btn-block btn-danger btn-lg mx-1 my-1">Cancelar</a>
            </div>
        </div>
    </form>
</div>

<script>

    function registrarModelo() {
        var x = document.getElementById("formulario-modelo");

        if (x.style.display === "none") {
            cerrarFormularios();
            x.style.display = "block";
            document.getElementById('inputModelo').focus();
        } else {
            document.getElementById('inputListModelo').focus();
            x.style.display = "none";
        }
    }

    function cerrarFormularioModelo(){
        var x = document.getElementById("formulario-modelo");
        x.style.display = "none";
        document.getElementById('inputListModelo').focus();
    }

    function registrarFormaPago() {
        var x = document.getElementById("formulario-forma-pago");

        if (x.style.display === "none") {
            cerrarFormularios();
            x.style.display = "block";
            document.getElementById('inputFormaPago').focus();
        } else {
            document.getElementById('inputListFormaPago').focus();
            x.style.display = "none";
        }
    }

    function cerrarFormularioFormaPago(){
        var x = document.getElementById("formulario-forma-pago");
        x.style.display = "none";
        document.getElementById('inputListFormaPago').focus();
    }

    function registrarUbicacion() {
        var x = document.getElementById("formulario-ubicacion");

        if (x.style.display === "none") {
            cerrarFormularios();
            x.style.display = "block";
            document.getElementById('inputUbicacion').focus();
        } else {
            document.getElementById('inputListUbicacion').focus();
            x.style.display = "none";
        }
    }

    function cerrarFormularioUbicacion(){
        var x = document.getElementById("formulario-ubicacion");
        x.style.display = "none";
        document.getElementById('inputListUbicacion').focus();
    }

    function registrarTaller() {
        var x = document.getElementById("formulario-taller");

        if (x.style.display === "none") {
            cerrarFormularios();
            x.style.display = "block";
            document.getElementById('inputTaller').focus();
        } else {
            document.getElementById('inputListTaller').focus();
            x.style.display = "none";
        }
    }

    function cerrarFormularioTaller(){
        var x = document.getElementById("formulario-taller");
        x.style.display = "none";
        document.getElementById('inputListTaller').focus();
    }

    function cerrarFormularios(){
        var x = document.getElementById("formulario-modelo");
        x.style.display = "none";
        x = document.getElementById("formulario-forma-pago");
        x.style.display = "none";
        x = document.getElementById("formulario-ubicacion");
        x.style.display = "none";
        x = document.getElementById("formulario-taller");        
        x.style.display = "none";
    }

</script>