<div class="container-fluid mb-5" style="width: 95%;">
    <div class="form-row justify-content-md-center pt-4 mx-auto">
        <h1>Detalles mantenimiento</h1>
    </div> 


    <div class="row">
        <div class="col-md-12 col-lg-6 mb-4">
            <div class="card mb-4 border-primary shadow-lg">
                <div class="card-header h4 text-center">
                    <h4>Datos del mantenimiento</h4>
                </div>
                <div class="card-body">
                    {{!-- Datos del vehiculo --}}
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label form-control-lg" for="">Cliente</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control form-control-lg" type="text" readonly value="{{ vehiculo.cliente}}">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label form-control-lg" for="">Chasis</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control form-control-lg" type="text" readonly value="{{ vehiculo.chasis}}">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label form-control-lg" for="">Descripción</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control form-control-lg" type="text" readonly value="{{ vehiculo.descripcion}}">
                        </div>
                    </div>

                    {{!-- Fecha mantenimiento --}}
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label form-control-lg" for="">Fecha:</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control form-control-lg" required name="fecha" value="{{ mantenimiento.fecha }}" readonly>
                        </div>
                    </div>

                    {{!-- Km actual --}}
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label form-control-lg" for="">Km vehículo:</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control form-control-lg" type="text" required name="kmActual" value="{{ mantenimiento.km }}" readonly>
                        </div>
                    </div>

                    {{!-- Rango km mantenimiento --}}
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label form-control-lg" for="">Rango km:</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control form-control-lg" type="text" name="rangoKm" value="{{ mantenimiento.kms }}" readonly>
                        </div>
                    </div>

                    {{!-- Taller del mantenimiento --}}
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label form-control-lg" for="">Taller:</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control form-control-lg" type="text" name="rangoKm" value="{{ mantenimiento.taller }}" readonly>
                        </div>
                    </div>
                        
                    {{!-- Observaciones del mantenimiento --}}
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label form-control-lg" for="">Observación:</label>
                        </div>
                        <div class="col-md-9">
                            <textarea class="form-control form-control-lg" name="obs" id="" cols="30" rows="5" maxlength="500" readonly>{{ mantenimiento.obs }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-6 mb-4">
            <div class="card mb-4 border-primary shadow-lg">
                <div class="card-header h4 text-center">
                    <h4>Repuestos utilizados</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        {{!-- Respuestos utilizados --}}
                        <div class="col">
                            <div class="row">
                                <div class="col-8">
                                    <h5>Repuesto</h5>   
                                </div>
                                <div class="col-4">
                                    <h5>Cantidad</h5>
                                </div>
                            </div>
                            <hr>
                            <div id="seccionRepuestos">
                                {{#each repuestos}}
                                    <div class="row mb-2" id="repuesto">
                                        <div class="col-8">
                                            <input id="inputListaRepuestos" class="form-control form-control-lg" list="listaRepuestos" name="repuestos" required readonly value="{{ descripcion }}">
                                        </div>
                                        <div class="col-4">
                                            <input type="number" class="form-control form-control-lg" name="cantidadRepuestos" required value="{{ cantidad }}" readonly>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                            <hr>
                            <div class="row justify-content-center">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <a class="btn btn-lg btn-block btn-warning mx-2" href="/mantenimientos-vehiculo/{{ idV }}">Volver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
