<div class="container-fluid mb-5" style="width: 95%;">
    <div class="form-row justify-content-md-center pt-4 mx-auto">
        <h1>Mantenimientos del vehículo</h1>
    </div> 
    {{#if msjError}}
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{msjError.msj}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
    {{#if msjOk}}
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{msjOk.msj}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    <div class="row">
        
        {{!-- Seccion datos del vehiculo y mantenimientos realizados --}}
        <div class="col-md-12 col-lg-6 mb-4">
            {{!-- Datos del vehículo --}}
            <div class="card mb-4 border-primary shadow-lg">
                <div class="card-header h4 text-center">
                    <h4>Datos del vehículo</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="form-label form-control-lg" for="">Cliente:</label>
                        </div>
                        <div class="col-md-10">
                            <input class="form-control form-control-lg" type="text" readonly value="{{ vehiculo.cliente }}">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label form-control-lg" for="">Chasis:</label>
                        </div>
                        <div class="col-md-10">
                            <input class="form-control form-control-lg" type="text" readonly value="{{ vehiculo.chasis }}">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label form-control-lg" for="">Descripción:</label>
                        </div>
                        <div class="col-md-10">
                            <input class="form-control form-control-lg" type="text" readonly value="{{ vehiculo.descripcion }}">
                        </div>
                    </div>

                </div>
            </div>

            {{!-- Listado de mantenimientos realizados --}}
            <div class="card border-primary shadow-lg">
                <div class="card-header h4 text-center">
                    <h4>Mantenimientos realizados</h4>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered hover myTable" id="myTable">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Km vehículo</th>
                                <th scope="col">Rango km</th>
                                <th scope="col" style="text-align: center;">Ver</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each mantenimientos}}
                            <tr>
                                <td> <a href="/detalles-mantenimiento/{{ id }}">{{ id }}</a></td>
                                <td>{{ fecha }}</td>
                                <td>{{ km }}</td>
                                <td>{{ kms }} </td>
                                <td style="text-align: center;"><a href="/detalles-mantenimiento/{{ id }}"><i class="far fa-list-alt fa-2x"></i></a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {{!-- Formulario para registro de mantenimientos  --}}
        <div class="col-md-12 col-lg-6 mb-4">
            <div class="card border-primary shadow-lg">
                <div class="card-header h4 text-center">
                    Registrar mantenimiento
                </div>
                <div class="card-body">
                    <form action="/registrar-mantenimiento/" method="POST" name="formulario">

                        {{!-- Fecha mantenimiento --}}
                        <div class="row">
                            <div class="col-md-5">
                                <label class="form-label form-control-lg" for="">Fecha:</label>
                            </div>
                            <div class="col-md-7">
                                <input class="form-control form-control-lg" type="date" required name="fecha">
                            </div>
                        </div>

                        {{!-- Km actual --}}
                        <div class="row">
                            <div class="col-md-5">
                                <label class="form-label form-control-lg" for="">Km actual:</label>
                            </div>
                            <div class="col-md-7">
                                <input class="form-control form-control-lg" type="text" placeholder="Ingrese el Km actual del vehículo" required name="kmActual" autocomplete="off">
                            </div>
                        </div>

                        {{!-- Rango km mantenimiento --}}
                        <div class="row">
                            <div class="col-md-5">
                                <label class="form-label form-control-lg" for="">Rango km:</label>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control form-control-lg" name="kmRango" required>
                                     <option disabled selected value>-- Seleccione rango km --</option>
                                    {{#each kms}}
                                        <option value="{{ id }}"> {{ kms}} </option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        {{!-- Taller del mantenimiento --}}
                        <div class="row">
                            <div class="col-md-5">
                                <label class="form-label form-control-lg" for="">Taller:</label>
                            </div>
                            <div class="col-md-7">
                                <input  id="taller" class="form-control form-control-lg" list="listaTalleres" placeholder="Buscar taller. . ." name="taller" autocomplete="off" required>
                                <datalist id="listaTalleres">
                                    {{#each talleres}}
                                        <option>{{ taller }}</option>
                                    {{/each}}
                                </datalist>
                            </div>
                        </div>
                        
                        {{!-- Respuestos utilizados --}}
                        <div class="row mt-2 mb-4">
                            <div class="col">
                                <div class="card mt-2 border-primary">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-8">
                                                <h5>Repuesto</h5>   
                                            </div>
                                            <div class="col-4">
                                                <h5>Cantidad</h5>
                                            </div>
                                        </div>
                                        <hr>
                                        <div id="seccionRepuestos">
                                            <div class="row mb-2" id="repuesto">
                                                <div class="col-8">
                                                    <input id="inputListaRepuestos" class="form-control form-control-lg" list="listaRepuestos" placeholder="Buscar repuesto. . ." name="repuestos" required>
                                                    <datalist id="listaRepuestos">
                                                        {{#each repuestos}}
                                                            <option> {{ repuesto}} </option>
                                                        {{/each}}
                                                    </datalist>
                                                </div>
                                                <div class="col-4">
                                                    <input type="number" class="form-control form-control-lg" placeholder="Ingrese la cantidad" name="cantidadRepuestos" required onchange="validarCantidadRepuesto(this)" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row justify-content-end">
                                            <a id="btnAdd" class="btn btn-lg btn-outline-primary mx-2" onclick="agregarRepuesto()" href="#nogo">Agregar</a>                                        
                                            <a id="btnDel" class="btn btn-lg btn-outline-danger mx-2" onclick="eliminarRepuesto()" href="#nogo">Eliminar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        {{!-- Observaciones del mantenimiento --}}
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label form-control-lg" for="">Observación:</label>
                            </div>
                            <div class="col-md-9">
                                <textarea class="form-control form-control-lg" name="obs" cols="30" rows="5" placeholder="Escriba su observación. . ." maxlength="500"></textarea>
                            </div>
                        </div>

                        {{!-- Id --}}
                        <input type="hidden" value="{{ vehiculo.id }}" name="id">

                        <div class="row justify-content-center mt-3">
                            <div class="col">
                                <button type="submit" class="btn btn-lg btn-block btn-success mx-1">Confirmar</button>
                            </div>
                            <div class="col">
                                <a href="/ver-datos-vehiculo/{{ vehiculo.id }}" class="btn btn-lg btn-block btn-warning mx-1">Volver</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            language:{
                url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
            "aaSorting": [[ 0, "desc" ]],
            "columnDefs": [
            {
                "targets": [ 0 ],
                "visible": false,
                "searchable": false
            }
        ]
        });
    } );

    function agregarRepuesto(){
        var seccionRepuestos = document.getElementById("seccionRepuestos");
        var repuesto = document.getElementById("repuesto");

        var nuevoRepuesto = repuesto.cloneNode(repuesto);
        seccionRepuestos.appendChild(nuevoRepuesto);
        nuevoRepuesto = seccionRepuestos.lastElementChild.firstElementChild.firstElementChild;
        nuevoRepuesto.focus();
        nuevoRepuesto.value = '';
        seccionRepuestos.lastElementChild.lastElementChild.firstElementChild.value=1;
    }

    function eliminarRepuesto(){
        var seccionRepuestos = document.getElementById("seccionRepuestos");
        var cantRepuestos = seccionRepuestos.childElementCount;

        if(cantRepuestos == 1){
            alert('No puede eliminar el ultimo repuesto');
        }else{
            seccionRepuestos.removeChild(seccionRepuestos.lastChild);
        }
    }

    function validarCantidadRepuesto(cant) {
        if(cant.value < 1){
            alert('Cantidad no puede ser menor a 1!');
            cant.value=1;
        }
    }
</script>