<div class="container mb-5">
    <div class="row justify-content-center my-4 pt-4">
        <h2>Usuarios</h2>
    </div>

    {{#if msjError}}
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{msjError.msj}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
    {{#if msjOk}}
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{msjOk.msj}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    <div class="row">

        {{!-- Seccion alta de usuarios --}}
        <div class="col-sm-12 col-md-6">
            <div class="card text-center border-primary shadow-lg mb-4">
                <div class="card-header">
                    <h3>Alta de usuarios</h3>
                </div>
                <div class="card-body">
                    <form action="/usuarios" method="POST">
                        <div class="row">
                            <div class="col-12">
                                <input name="user" type="text" class="form-control mb-2" placeholder="Usuario" required>
                            </div>
                            <div class="col-12">
                                <select class="form-control mb-2" name="id_rol" id="id_rol" required>
                                     <option disabled selected value>-- Seleccione un rol --</option>
                                    {{#each roles}}
                                        <option value="{{ id }}"> {{ rol}} </option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-12">
                                <input name="password" type="password" class="form-control mb-2" placeholder="Contrase침a" required>
                            </div>
                            <div class="col-12">
                                <input name="password2" type="password" class="form-control mb-2" placeholder="Repetir contrase침a" required>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <button type="submit" class="btn btn-success btn-lg btn-block">Registrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {{!-- Seccion listado de usuarios --}}
        <div class="col-sm-12 col-md-6">
            <div class="card text-center border-primary shadow-lg">
                <div class="card-header">
                    <h3>Usuarios del sistema</h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered hover myTable" id="myTable" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">Usuario</th>
                                <th scope="col">Rol</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acci칩n</th>
                            </tr>
                        </thead>
                        <tbody >
                            {{#each usuarios }}
                                <tr>
                                    <td>{{ usuario }}</td>
                                    <td>{{ rol }}</td>
                                    <td>
                                        {{#ifCond estado '==' true }}
                                            Activo
                                        {{/ifCond}}
                                        {{#ifCond estado '==' false }}
                                            Inactivo
                                        {{/ifCond}}                                        
                                    </td>
                                    <td style="text-align: center;">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal{{id}}">
                                        Ver
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <form action="/actualizar-usuario" method="POST">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Datos del usuario</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row mb-1">
                                                                <div class="col">
                                                                    <label class="label-control">Id:</label>
                                                                </div>
                                                                <div class="col">
                                                                    <input class="form-control" type="text" name="id" value="{{id}}" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-1">
                                                                <div class="col">
                                                                    <label class="label-control">Usuario:</label>
                                                                </div>
                                                                <div class="col">
                                                                    <input class="form-control" type="text" value="{{usuario}}" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-1">
                                                                <div class="col">
                                                                    <label class="label-control">Rol:</label>
                                                                </div>
                                                                <div class="col">
                                                                    <input class="form-control" type="text" value="{{rol}}" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-1">
                                                                <div class="col">
                                                                    <label class="label-control">Estado:</label>
                                                                </div>
                                                                <div class="col">
                                                                    <select class="form-control" name="estado">
                                                                        {{#ifCond estado '==' true }}
                                                                            <option value="1" selected>Activo</option>
                                                                            <option value="0">Inactivo</option>
                                                                        {{/ifCond}}
                                                                        {{#ifCond estado '==' false }}
                                                                            <option value="1" selected>Inactivo</option>
                                                                            <option value="1">Activo</option>
                                                                        {{/ifCond}}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-success">Guardar cambios</button>
                                                            <a href="/restablecer-acceso/{{id}}" class="btn btn-warning">Restablecer contrase침a</a>
                                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </td>                                    
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<style>
    div.dataTables_wrapper div.dataTables_filter input {
        width: 150px;
    }
</style>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>
    
<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            language:{
                url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
            scrollX:        true,
            scrollCollapse: true,
            "aaSorting": [[ 0, "desc" ]]
        });
    } );
</script>