<script src="https://use.fontawesome.com/08f85aae79.js"></script>

<div class="container-fluid mt-4" style="width:90%">
    <div class="form-row justify-content-center my-5 mx-auto">
        <h1>Datos del vehículo</h1>
    </div>   
    {{#if msjError}}
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{msjError.msj}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
    {{#if msjOk}}
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{msjOk.msj}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
    {{!-- Chasis y Descripción --}}
    <div class="form-row">

        <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
            <label class="form-label col-form-label-lg">Chasis:</label>
        </div>

        <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
            <input class="form-control form-control-lg" value="{{ vehiculo.chasis }}" disabled>
        </div>

        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
        </div>

        <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
            <label class="form-label col-form-label-lg">Descripción:</label>
        </div>

        <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
            <input class="form-control  form-control-lg" value="{{ vehiculo.descripcion }}" disabled>
        </div>

        <div class="form-group col-sm-1 col-md-1 col-lg-1 col-xl-1">
        </div>

    </div>
    {{!-- Cliente y Fecha Venta --}}
    <div class="form-row">

        <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
            <label class="form-label  col-form-label-lg">Cliente:</label>
        </div>

        <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
            <input class="form-control  form-control-lg" value="{{ vehiculo.cliente }}" disabled>
        </div>

        <div class="form-group col-md-1">
        </div>

        <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
            <label for="exampleDataList" class="form-label  col-form-label-lg">Fecha venta: </label>
        </div>

        <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
            <input class="form-control  form-control-lg" value="{{ vehiculo.fecha_vta }}" disabled>
        </div>   

        <div class="form-group col-md-1">
        </div>   

 

    </div>
    {{!-- Moneda y Saldo --}}
    <div class="form-row">

        <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
            <label class="form-label  col-form-label-lg">Moneda:</label>
        </div>

        <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
            <input class="form-control  form-control-lg" value="{{ vehiculo.moneda }}" disabled>
        </div>

        <div class="form-group col-md-1">
        </div>
  
        <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
            <label class="form-label  col-form-label-lg">Saldo:</label>
        </div>

        <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
            <input class="form-control  form-control-lg" value="{{ vehiculo.saldo }}" disabled>
        </div>

        <div class="form-group col-md-1">
        </div>

    </div>
    {{!-- Fecha Importación y Chapa --}}
    <div class="form-row">

        <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
            <label for="exampleDataList" class="form-label  col-form-label-lg">Fecha importación:</label>
        </div>

        <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
            <input class="form-control  form-control-lg" value="{{ vehiculo.fecha_imp }}" disabled>
        </div>   

        <div class="form-group col-md-1">
        </div>   

        <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
            <label for="exampleDataList" class="form-label  col-form-label-lg">Chapa:</label>
        </div>

        <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
            <input class="form-control  form-control-lg" value="{{ vehiculo.chapa }}" name="chapa" disabled>
        </div>   

        <div class="form-group col-md-1">
        </div>     

    </div>
    {{!-- Forma de Pago y Modelo --}}
    <div class="form-row">

        <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
            <label for="exampleDataList" class="form-label  col-form-label-lg">Forma de pago: </label>
        </div>

        <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
            <input class="form-control  form-control-lg" value="{{ vehiculo.forma }}" disabled>
        </div>   

        <div class="form-group col-md-1">
        </div>   

        <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
            <label for="exampleDataList" class="form-label  col-form-label-lg">Modelo:</label>
        </div>

        <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
            <input class="form-control  form-control-lg" value="{{ vehiculo.modelo }}" disabled>
        </div>   

        <div class="form-group col-md-1">
        </div>    

    </div>
    {{!-- Ubicacion y Taller autorizado --}}
    <div class="form-row">

        <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
            <label class="form-label col-form-label-lg">Ubicación:</label>
        </div>

        <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
            <input class="form-control  form-control-lg" value="{{ vehiculo.ubi }}" disabled>
        </div>

        <div class="form-group col-md-1">
        </div>

        <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
            <label for="exampleDataList" class="form-label col-form-label-lg">Taller autorizado: </label>
        </div>

        <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-4">                
            <input class="form-control  form-control-lg" value="{{ vehiculo.taller }}" disabled>
        </div>   

        <div class="form-group col-md-1">
        </div>     

    </div>

    <div class="form-row justify-content-center my-3">
        <div class="col-xl-2 col-lg-3 col-md-4 col-xs-11 col-sm-11 my-1">
            <a href="/mantenimientos-vehiculo/{{ vehiculo.id}}" class="btn btn-secondary btn-block btn-lg mx-1">Ver mantenimientos</a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-xs-11 col-sm-11 my-1">
            <a href="/actualizar-datos-vehiculo/{{ vehiculo.id}}" class="btn btn-success btn-block btn-lg mx-1">Actualizar datos</a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-xs-11 col-sm-11 my-1">
            <a href="/vehiculos" class="btn btn-warning btn-block btn-lg mx-1">Volver</a>
        </div>
    </div>

</div>